.dialogs {
    display: flex;
    margin-top: 15px;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    position: relative;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: rgb(200, 200, 200);
}

.dialogsImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
    margin-bottom: 12px;
}

.dialogsName {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 36px;
    color: rgb(0, 0, 0)
}

.dialogsOnline {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(10, 200, 10);
    left: 40px;
    top: 40px;
}